body {
    margin: 0;
    padding: 0;
    border: 0;
}

.text-with-hr {
    text-align: center;
    position: relative;
    z-index: 2;
}

/*
横线，并通过z-index：-1将or附近的横线遮盖住
*/
.text-with-hr:before {
    position: absolute;
    content: '';
    top: 20px;
    left: 0px;
    width: 100%;
    border-bottom: 1px solid #d4d4d4;
    z-index: -1;
}

.text-with-hr span {
    display: inline-block;
    background: white;
    padding: 10px;
}

.myIndex{
    position: absolute;
    right: 10px;
    bottom: 10px;
}
