<!doctype html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/html">
<head>
    <!-- 必须的 meta 标签 -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>work</title>
    <!-- CSS 文件 -->
    <link rel="stylesheet" href="../../bootstrap5+vue3/css/bootstrap.css">
    <!-- 引入js文件 -->
    <script src="../../bootstrap5+vue3/js/jquery-3.7.1.js"></script>
    <script src="../../bootstrap5+vue3/js/bootstrap.js"></script>
    <script src="../../bootstrap5+vue3/js/http_cdn.jsdelivr.net_npm_echarts@5.4.3_dist_echarts.js"></script>
    <script src="../../bootstrap5+vue3/js/vue.js"></script>

    <link rel="stylesheet" href="carouselList.css">



</head>
<body>
<div id="app">
    <div class="carouselList-container">

    </div>

    <button onclick="addSlide()">Add New Slide</button>
</div>

<script src="carouselList.js"></script>
</body>
</html>
