<!doctype html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/html">
<head>
    <!-- 必须的 meta 标签 -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>汇智AI数据服务平台</title>
    <!-- CSS 文件 -->
    <link rel="stylesheet" href="./css/bootstrap.css">
    <link rel="stylesheet" href="./css/bigData.css">
</head>

<body style="display: flex; align-items: center; justify-content: center">
<div id="app">
    <header class="header-background">
        <div class="header-background-container">
            <img src="./img/left.png" alt="" id="header-div-left">
            <img src="./img/center.png" alt="" id="header-div-center">
            <img src="./img/right.png" alt="" id="header-div-right">
        </div>
        <div class="header-text">
            <div class="header-text-left">
                <div class="header-text-left-city">
                    深圳市
                </div>
                <div class="header-text-left-frame">
                    <img src="./img/weather/sun.png" class="header-text-left-frame-rain">
                    <span class="header-text-left-frame-text">天晴</span>
                </div>
                <div class="header-text-left-frame-temperature">
                    10-36℃
                </div>
            </div>
            <div class="header-text-center">
                <b>汇智AI数据服务平台</b>
            </div>
            <div class="header-text-right">
                <div class="header-text-right-data" id="header-text-right-data">
                    2023-09-11
                </div>
                <div class="header-text-right-week" id="header-text-right-week">
                    星期一
                </div>
                <div class="header-text-right-time" id="header-text-right-time">
                    15:20:33
                </div>
            </div>
        </div>
    </header>
    <main class="div-main">
        <div class="div-main-instrument">
            <div class="div-main-instrument-left">
                <div class="div-main-instrument-left-top">
                    <span class="div-main-instrument-left-font-header">{{generateRandomNumber(1000, 9999)}}</span>
                    <span class="div-main-instrument-left-font-info">今日链接人数</span>
                </div>
                <div class="div-main-instrument-left-bottom">
                    <div class="div-main-instrument-left-bottom-left">
                        <span class="div-main-instrument-left-font-header">{{generateRandomNumber(1000, 9999)}}</span>
                        <span class="div-main-instrument-left-font-info">上新数据</span>
                    </div>
                    <div class="div-main-instrument-left-bottom-right">
                        <span class="div-main-instrument-left-font-header">{{generateRandomNumber(1000, 9999)}}</span>
                        <span class="div-main-instrument-left-font-info">浏览超过50%</span>
                    </div>
                </div>
            </div>
            <div class="div-main-instrument-right">
                <div class="div-main-instrument-left-top">
                    <span class="div-main-instrument-left-font-header">{{generateRandomNumber(10000, 99999)}}</span>
                    <span class="div-main-instrument-left-font-info">画册总访问数</span>
                </div>
                <div class="div-main-instrument-left-bottom">
                    <div class="div-main-instrument-left-bottom-left">
                        <span class="div-main-instrument-left-font-header">{{generateRandomNumber(1000, 9999)}}</span>
                        <span class="div-main-instrument-left-font-info">访问总时长</span>
                    </div>
                    <div class="div-main-instrument-left-bottom-right">
                        <span class="div-main-instrument-left-font-header">{{generateRandomNumber(1000, 9999)}}</span>
                        <span class="div-main-instrument-left-font-info">热门画册</span>
                    </div>
                </div>
            </div>
            <div class="div-main-instrument-center">
                <div id="main" style="width: 360px;height:360px;"></div>
            </div>

            <div class="div-main-instrument-bottom">
                <div class="div-main-instrument-bottom-size1 div-main-instrument-bottom-number-background">
                    <img class="div-main-instrument-bottom-number-num" src="./img/number0.png">
                </div>
                <div class="div-main-instrument-bottom-size2 div-main-instrument-bottom-number-background">
                    <img class="div-main-instrument-bottom-number-num" src="./img/number0.png">
                </div>
                <div class="div-main-instrument-bottom-size3 div-main-instrument-bottom-number-background">
                    <img class="div-main-instrument-bottom-number-num"
                         :src="'img/number'+ generateRandomNumber(0,9) +'.png'">
                </div>
                <div class="div-main-instrument-bottom-size4">
                    ,
                </div>
                <div class="div-main-instrument-bottom-size5 div-main-instrument-bottom-number-background">
                    <img class="div-main-instrument-bottom-number-num"
                         :src="'img/number'+ generateRandomNumber(0,9) +'.png'">
                </div>
                <div class="div-main-instrument-bottom-size6 div-main-instrument-bottom-number-background">
                    <img class="div-main-instrument-bottom-number-num"
                         :src="'img/number'+ generateRandomNumber(0,9) +'.png'">
                </div>
                <div class="div-main-instrument-bottom-size7 div-main-instrument-bottom-number-background">
                    <img class="div-main-instrument-bottom-number-num"
                         :src="'img/number'+ generateRandomNumber(0,9) +'.png'">
                </div>
                <div class="div-main-instrument-bottom-size8">
                    ,
                </div>
                <div class="div-main-instrument-bottom-size9 div-main-instrument-bottom-number-background">
                    <img class="div-main-instrument-bottom-number-num"
                         :src="'img/number'+ generateRandomNumber(0,9) +'.png'">
                </div>
                <div class="div-main-instrument-bottom-size10 div-main-instrument-bottom-number-background">
                    <img class="div-main-instrument-bottom-number-num"
                         :src="'img/number'+ generateRandomNumber(0,9) +'.png'">
                </div>
                <div class="div-main-instrument-bottom-size11 div-main-instrument-bottom-number-background">
                    <img class="div-main-instrument-bottom-number-num"
                         :src="'img/number'+ generateRandomNumber(0,9) +'.png'">
                </div>
                <div class="div-main-instrument-bottom-size12">
                    元
                </div>

            </div>

            <div class="div-main-instrument-text">
                平台预计成交订单
            </div>
        </div>
        <div class="div-main-left">
            <div class="div-main-left-header">
                <div class="div-main-left-header-1">
                    <b>今日链接人数</b>
                </div>
                <div class="div-main-left-header-2">
                    <div class="col-6 div-main-left-header-2-font">
                        服务企业
                    </div>
                    <div class="col-3 div-main-left-header-2-font">
                        画册页数
                    </div>
                    <div class="col-3 div-main-left-header-2-font">
                        访问人
                    </div>
                </div>
            </div>
            <div class="div-main-left-header-main1">
                <div id="leftMain11">
                    <div class="div-main-left-header-main-row" v-for="item in data11">
                        <div class="col-1">
                            <img class="triangle" src="./img/triangle.png" alt="">
                        </div>
                        <div class="col-5 div-main-left-header-main-font">
                            {{ item.enterpriseName }}
                        </div>
                        <div class="col-3 div-main-left-header-main-font">
                            {{ item.pictureSize }}
                        </div>
                        <div class="col-3 div-main-left-header-main-font">
                            <div class="div-main-left-header-main-man">
                                {{ item.peopleName }}
                            </div>
                        </div>
                    </div>
                </div>
                <div id="leftMain12">
                    <div class="div-main-left-header-main-row" v-for="item in data12">
                        <div class="col-1">
                            <img class="triangle" src="./img/triangle.png" alt="">
                        </div>
                        <div class="col-5 div-main-left-header-main-font">
                            {{ item.enterpriseName }}
                        </div>
                        <div class="col-3 div-main-left-header-main-font">
                            {{ item.pictureSize }}
                        </div>
                        <div class="col-3 div-main-left-header-main-font">
                            <div class="div-main-left-header-main-man">
                                {{ item.peopleName }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="div-main-right1">
            <div class="div-main-left-header">
                <div class="div-main-left-header-1">
                    <b>画册上新数据</b>
                </div>
                <div class="div-main-left-header-2">
                    <div class="col-6 div-main-left-header-2-font">
                        服务企业
                    </div>
                    <div class="col-3 div-main-left-header-2-font">
                        画册页数
                    </div>
                    <div class="col-3 div-main-left-header-2-font">
                        添加时间
                    </div>
                </div>
            </div>
            <div class="div-main-left-header-main">
                <div id = ""></div>
                <div class="div-main-left-header-main-row" v-for="item in data2">
                    <div class="col-1">
                        <img class="triangle" src="./img/triangle.png" alt="">
                    </div>
                    <div class="col-5 div-main-left-header-main-font">
                        {{ item.enterpriseName }}
                    </div>
                    <div class="col-3 div-main-left-header-main-font">
                        {{ item.pictureSize }}
                    </div>
                    <div class="col-3 div-main-left-header-main-font">
                        <div class="div-main-left-header-main-man1">
                            {{ item.peopleName }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 右下角 -->
        <div class="div-main-right2">
            <div class="div-main-left-header">
                <div class="div-main-left-header-1">
                    <b>企业画册访问统计排行</b>
                </div>
                <div class="div-main-left-header-2">
                    <div class="col-6 div-main-left-header-2-font">
                        服务企业
                    </div>
                    <div class="col-3 div-main-left-header-2-font">
                        画册页数
                    </div>
                    <div class="col-3 div-main-left-header-2-font">
                        访问人
                    </div>
                </div>
            </div>
            <div class="div-main-left-header-main">
                <div class="div-main-left-header-main-row" v-for="item in data3">
                    <div class="col-1">
                        <img class="triangle" src="./img/triangle.png" alt="">
                    </div>
                    <div class="col-5 div-main-left-header-main-font">
                        {{ item.enterpriseName }}
                    </div>
                    <div class="col-3 div-main-left-header-main-font">
                        {{ item.pictureSize }}
                    </div>
                    <div class="col-3 div-main-left-header-main-font">
                        <div class="div-main-left-header-main-man">
                            {{ item.peopleName }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 中间的左边 -->
        <div class="div-main-center1">
            <div class="div-main-left-header">
                <div class="div-main-left-header-1">
                    <b>实时画册在线人数</b>
                </div>
                <div class="div-main-left-header-2">
                    <div class="col-6 div-main-left-header-2-font">
                        服务企业
                    </div>
                    <div class="col-3 div-main-left-header-2-font">
                        画册页数
                    </div>
                    <div class="col-3 div-main-left-header-2-font">
                        访问人
                    </div>
                </div>
            </div>
            <div class="div-main-left-header-main">
                <div id="data41">
                    <div class="div-main-left-header-main-row" v-for="item in data41">
                        <div class="col-1">
                            <img class="triangle" src="./img/triangle.png" alt="">
                        </div>
                        <div class="col-5 div-main-left-header-main-font">
                            {{ item.enterpriseName }}
                        </div>
                        <div class="col-3 div-main-left-header-main-font">
                            {{ item.pictureSize }}
                        </div>
                        <div class="col-3 div-main-left-header-main-font">
                            <div class="div-main-left-header-main-man">
                                {{ item.peopleName }}
                            </div>
                        </div>
                    </div>
                </div>
                <div id="data42">
                    <div class="div-main-left-header-main-row" v-for="item in data42">
                        <div class="col-1">
                            <img class="triangle" src="./img/triangle.png" alt="">
                        </div>
                        <div class="col-5 div-main-left-header-main-font">
                            {{ item.enterpriseName }}
                        </div>
                        <div class="col-3 div-main-left-header-main-font">
                            {{ item.pictureSize }}
                        </div>
                        <div class="col-3 div-main-left-header-main-font">
                            <div class="div-main-left-header-main-man">
                                {{ item.peopleName }}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="div-main-center2">
            <div class="div-main-left-header">
                <div class="div-main-left-header-1">
                    <b>收到需求对接数据</b>
                </div>
                <div class="div-main-left-header-2">
                    <div class="col-6 div-main-left-header-2-font">
                        服务企业
                    </div>
                    <div class="col-3 div-main-left-header-2-font">
                        画册页数
                    </div>
                    <div class="col-3 div-main-left-header-2-font">
                        访问人
                    </div>
                </div>
            </div>
            <div class="div-main-left-header-main">
                <div id="idData51">
                    <div class="div-main-left-header-main-row" v-for="item in data51">
                        <div class="col-1">
                            <img class="triangle" src="./img/triangle.png" alt="">
                        </div>
                        <div class="col-5 div-main-left-header-main-font">
                            {{ item.enterpriseName }}
                        </div>
                        <div class="col-3 div-main-left-header-main-font">
                            {{ item.pictureSize }}
                        </div>
                        <div class="col-3 div-main-left-header-main-font">
                            <div class="div-main-left-header-main-man">
                                {{ item.peopleName }}
                            </div>
                        </div>
                    </div>
                </div>
                <div id="idData52">
                    <div class="div-main-left-header-main-row" v-for="item in data52">
                        <div class="col-1">
                            <img class="triangle" src="./img/triangle.png" alt="">
                        </div>
                        <div class="col-5 div-main-left-header-main-font">
                            {{ item.enterpriseName }}
                        </div>
                        <div class="col-3 div-main-left-header-main-font">
                            {{ item.pictureSize }}
                        </div>
                        <div class="col-3 div-main-left-header-main-font">
                            <div class="div-main-left-header-main-man">
                                {{ item.peopleName }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

<!-- 引入js文件 -->
<script src="./js/jquery-3.7.1.js"></script>
<script src="./js/http_cdn.jsdelivr.net_npm_popper.js@1.16.1_dist_umd_popper.js"></script>
<script src="./js/bootstrap.js"></script>
<script src="./js/http_cdn.jsdelivr.net_npm_echarts@5.4.3_dist_echarts.js"></script>
<script src="./js/http_unpkg.com_vue@3_dist_vue.global.js"></script>
<script src="./js/cdn.jsdelivr.net_npm_axios_dist_axios.min.js"></script>
<script src="./js/bigData.js"></script>
</body>
</html>
