<!doctype html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/html">
<head>
    <!-- 必须的 meta 标签 -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>work</title>
    <!-- CSS 文件 -->
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="./bubble.css">
</head>
<body>
<div id="app">
    <div class="myBarrage"></div>
    <div class="myBarrage1"></div>
    <button onclick="addSlide()">自定义按钮</button>

</div>

<!-- 引入js文件 -->
<script src="../js/jquery-3.7.1.js"></script>
<script src="../js/bootstrap.js"></script>
<script src="../js/http_cdn.jsdelivr.net_npm_echarts@5.4.3_dist_echarts.js"></script>
<script src="../js/http_unpkg.com_vue@3_dist_vue.global.js"></script>
<script src="./bubble.js"></script>

<script>

    const myBarrageConfig = { numberOfColumns: 1, barrageHeight: 25, bottom: "18%",rollInterval: 2, styleType: 2}
    let msgList = ["123在9秒前浏览的画册", "小白小在8前浏览的画册", "", " ", "  ", [], undefined];
    const myBarrage = document.querySelector('.myBarrage');
    const start1 = new MyBarrage(msgList, myBarrage, myBarrageConfig).start();

    const myBarrageConfig1 = { numberOfColumns: 1, barrageHeight: 25, bottom: "28%",}
    let msgList1 = ["小白1在9秒前浏览的画册", "小白2在8前浏览的画册", "小白3在9秒前浏览的画册", "小白4在8前浏览的画册"];
    const myBarrage1 = document.querySelector('.myBarrage1');
    const start2 = new MyBarrage(msgList1, myBarrage1, myBarrageConfig1).start();


    const addSlide = () => {
        start1.stop()
        start2.stop()
    }
</script>
</body>
</html>
